{% layout 'layout.liquid' %}

{% block content %}
<!-- <script src="search.js" defer></script> -->

<div>
  <h2 class="display-6">All Players</h2>
  <!-- <form action="/nba/players/search/:playerName" method="GET">
    <input type="text" name="playerName" id="playerName" placeholder="Player Name">
    <input type="submit" value="Search"> -->
  <div class="search-wrapper">
    <label for="search">Search Players</label>
    <input type="search" id="search" data-search>
  </div>

  </form>
  <div class="row player-cards" data-player-cards-container>
  
      {% for player in players %}
      <!-- <div data-player-template> -->
        <div class="card player-card" style="width: 18rem">
          <h5 class="card-header" data-player-name>{{player.firstName}} {{player.lastName}}</h5>
          <div class="card-body">
              <h6 class="card-title">
                {% if player.position == "F" %}
                  Position: Power Forward
                {% elsif player.position == "C" %}
                  Position: Center
                {% elsif player.position == "G" %}
                  Position: Guard
                {% elsif player.position == "C-F" %}
                  Position: Power Forward / Center
                {% elsif player.position == "F-C" %}
                  Position: Small Forward / Center
                {% elsif player.position == "G-F" %}
                  Position: Small Forward / Shooting Guard
                {% else %}
                No Position Listed
                {% endif %}
              </h6>
              
              <p class="card-text">
                {% if player.height != 0 %}
                Height: {{player.height}} inches
                {% else %}
                No Height Listed
                {% endif %}
              </p>
              <p class="card-text">
                {% if player.weight %}
                Weight: {{player.weight}} pounds
                {% else %}
                No Weight Listed
                {% endif %}
              </p>
              
              <a href="/nba/players/{{player._id}}" class="btn btn-info">View {{player.firstName}}</a>
          </div>
      </div>
    <!-- </div> -->
      {% endfor %}
  </div>
</div>
<script defer>
const playerCardTemplate = document.querySelector('[data-player-template]')
const playerCardContainer = document.querySelector("[data-player-cards-container]")
const searchInput = document.querySelector('[data-search]')
let playersArr = []
let playersSearch = []
let playerElements = document.getElementsByClassName("player-card")

setTimeout(loadSearching, 600)

function loadSearching() {
  
  for (let i = 0; i < 3757; i++) {
    const card = playerCardContainer.children[i] 
    console.log(card)
    const name = card.querySelector('[data-player-name]').textContent.toLowerCase()
    playersSearch.push({name: name, element: card})
    }
  }

  
searchInput.addEventListener('input', (e) => {
    const value = e.target.value.toLowerCase()
    console.log(value)
    playersSearch.forEach(player => {
      const isVisible = player.name.includes(value)
      player.element.classList.toggle('hide', !isVisible)
    })
  })</script>      
{% endblock %}