{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <article>

        <h3>Name: {{player.firstName}} {{player.lastName}}</h3>
        <h6>{% if player.height != 0 %}
            Height: {{player.height}} inches
            {% else %}
            No Height Listed
            {% endif %}</h6>
        <h6>{% if player.weight %}
            Weight: {{player.weight}} pounds
            {% else %}
            No Weight Listed
            {% endif %}</h6>
        <h6>{% if player.position == "F" %}
            Position: Power Forward
          {% elsif player.position == "C" %}
            Position: Center
          {% elsif player.position == "G" %}
            Position: Guard
          {% elsif player.position == "C-F" %}
            Position: Power Forward / Center
          {% elsif player.position == "F-C" %}
            Position: Small Forward / Center
          {% elsif player.position == "G-F" %}
            Position: Small Forward / Shooting Guard
          {% else %}
            No Position Listed
          {% endif %}</h6>
        <!-- <div class="btn-group">

            <a href="/fruits/{{fruit._id}}/edit" class="btn btn-primary">Edit Fruit</a>
            <form action="/fruits/{{fruit._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>-->
        </article>
    <!-- </div> -->
    <!-- <div class="col-md-6">
        <form action="/comments/{{fruit._id}}" method="POST">
            <fieldset>
                <legend>Add comment</legend>
                <label class="form-label">Comment: </label>
                <input type="text" class="form-control" name="note" placeholder="Enter comment here"/>
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add comment" />
        </form>
    </div>
    {% if fruit.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6" >
            {% for comment in fruit.comments %}
            {% render '../comment.liquid' comment: comment, userId: userId, fruit: fruit, username: username%}
            {% endfor %}
        </div> 
    </div> -->
    <!-- {% endif %} -->
</div>
{% endblock %}