{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <article>

        <h3>Name: <span id="searchterm">{{player.firstName}} {{player.lastName}}</span></h3>
        <img id="playerGif" src="">
        <h6>{% if player.height != 0 %}
            Height: {{player.height}} inches
            {% else %}
            No Height Listed
            {% endif %}</h6>
        <h6>{% if player.weight %}
            Weight: {{player.weight}} pounds
            {% else %}
            No Weight Listed
            {% endif %}</h6>
        <h6>{% if player.position == "F" %}
            Position: Power Forward
          {% elsif player.position == "C" %}
            Position: Center
          {% elsif player.position == "G" %}
            Position: Guard
          {% elsif player.position == "C-F" %}
            Position: Power Forward / Center
          {% elsif player.position == "F-C" %}
            Position: Small Forward / Center
          {% elsif player.position == "G-F" %}
            Position: Small Forward / Shooting Guard
          {% else %}
            No Position Listed
            <br>
            {% endif %}</h6>
            <h5>Current Team: n/a</h5>
            <a href="/nba/players/add/{{player._id}}">Add to myTeams</a>
            <br>
            <a href="/nba/players">Go back</a>
        <!-- <div class="btn-group">

            <a href="/fruits/{{fruit._id}}/edit" class="btn btn-primary">Edit Fruit</a>
            <form action="/fruits/{{fruit._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>-->
        </article>

</div>
<script>
const playerGifSearch = document.getElementById("searchterm").innerText.replace(/\s+/g, '-')
console.log(playerGifSearch)
const apiKey = 'kpkoaVg3FutHqBObiGAGppcYp45AqUqi'
fetch(`https://api.giphy.com/v1/gifs/search?api_key=${apiKey}&q=${playerGifSearch}`)
  .then(response => response.json())
  .then(json => {
    json.data
      console.log(json.data[0].images.original.url)
      let srcUrl = json.data[0].images.original.url
      let img = document.getElementById('playerGif')
      img.src = srcUrl
      // document.body.appenchild(img)
      
  })
  .catch(error => document.body.appendChild = error)

</script>
{% endblock %}