{% layout 'layout.liquid' %}

{% block content %}
<!-- <script src="search.js" defer></script> -->

<div>
  <h2 class="display-6">Created Teams</h2>
  <!-- <form action="/nba/players/search/:playerName" method="GET">
    <input type="text" name="playerName" id="playerName" placeholder="Player Name">
    <input type="submit" value="Search"> -->
  <div class="search-wrapper">
    <label for="search">Search myTeams</label>
    <input type="search" id="search" data-search>
  </div>

  </form>
  <a href="/nba/new">create new team</a>
  <div class="row player-cards" data-player-cards-container>
  
      {% for team in teams %}
      <!-- <div data-player-template> -->
        <div class="card player-card" style="width: 18rem">
          <h5 class="card-header" data-player-name>Team: {{team.name}}</h5>
          <div class="card-body">
              <h6 class="card-title">
                Mascot: {{team.mascot}}
              </h6>
              
              <p class="card-text">
                {% if team.players != '' %}
                Players: {{team.players}}
                {% else %}
                No Players added to roster
                {% endif %}
              </p>
              
              <a href="/nba/myTeams/{{team._id}}" class="btn btn-info team-btn">View the {{team.mascot}}</a>
          </div>
      </div>
    <!-- </div> -->
      {% endfor %}
  </div>
</div>
<script defer>
const playerCardTemplate = document.querySelector('[data-player-template]')
const playerCardContainer = document.querySelector("[data-player-cards-container]")
const searchInput = document.querySelector('[data-search]')
let playersSearch = []
let playerElements = document.getElementsByClassName("player-card")

setTimeout(loadSearching, 600)

function loadSearching() {
  
  for (let i = 0; i < 3757; i++) {
    const card = playerCardContainer.children[i] 
    console.log(card)
    const name = card.querySelector('[data-player-name]').textContent.toLowerCase()
    playersSearch.push({name: name, element: card})
    }
  }

  
searchInput.addEventListener('input', (e) => {
    const value = e.target.value.toLowerCase()
    console.log(value)
    playersSearch.forEach(player => {
      const isVisible = player.name.includes(value)
      player.element.classList.toggle('hide', !isVisible)
    })
  })</script>      
{% endblock %}